
# Pinout for the iCE40-HX8K Breakout Board

set_io clk 49

set_io flash_csb 71
set_io flash_clk 70
set_io flash_io0 67
set_io flash_io1 68

# for QSPI mode the flash chip on the iCE40-HX8K Breakout Board
# must be replaced with one that supports QSPI and the IO2 and IO3
# pins must be soldered to T9 and P8 (center on J3)
set_io flash_io2 8
set_io flash_io3 7 

set_io ser_tx 112
set_io ser_rx 113

# left on J3
set_io debug_ser_tx 44
set_io debug_ser_rx 42

# right on J3
set_io debug_flash_csb 56
set_io debug_flash_clk 48
set_io debug_flash_io0 45
set_io debug_flash_io1 43
set_io debug_flash_io2 55
set_io debug_flash_io3 47

#set_io leds[7] B5  # D9
#set_io leds[6] B4  # D8
#set_io leds[5] A2  # D7
#set_io leds[4] A1  # D6
#set_io leds[3] C5  # D5
set_io leds[2] 94  # D4
set_io leds[1] 93  # D3
set_io leds[0] 110  # D2

